<!DOCTYPE html>
<html lang="en">
<head>
    <title>Firefly</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1 user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/jquery-toastmessage-plugin/src/main/resources/css/jquery.toastmessage.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>

    <link href="css/firefly.css" rel="stylesheet">
    <link href="css/_media-queries-landscape.css" rel="stylesheet">
    <link  href="css/_media-queries-portrait.css" rel="stylesheet">

    <link href="../shared/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN_MbOFGBx4i5G8dclAAphSWUUruTTTOg&amp;v=3.exp"></script>

    <script type="text/javascript" src="../node_modules/underscore/underscore.js"></script>
    <script type="text/javascript" src="../node_modules/backbone/backbone.js"></script>

    <script type="text/javascript" src="../node_modules/backbone.drowsy.encorelab/backbone.drowsy.js"></script>
    <script type="text/javascript" src="../node_modules/backbone.drowsy.encorelab/wakeful.js"></script>

    <script type="text/javascript" src="../bower_components/jquery-toastmessage-plugin/src/main/javascript/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="../bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../bower_components/purl/purl.js"></script>

    <script type="text/javascript" src="../shared/js/skeletor.js"></script>
    <script type="text/javascript" src="../shared/js/model.js"></script>
    <script type="text/javascript" src="../shared/js/rollcall.js"></script>

    <script type="text/javascript" src="js/firefly.js"></script>
    <script type="text/javascript" src="js/firefly.view.js"></script>

    <!-- Findings Template -->
    <script id="findings-details-template" type="text/template">
    //     <div><span class="modal-key-text">Author: &nbsp; </span> <%= author %></div>
    //     <div><span class="modal-key-text">Date: &nbsp; </span> <%= date %></div>
    //     <div><span class="modal-key-text">Orientation: &nbsp; </span> <%= orientation %>&deg; from North</div>
    //     <div><span class="modal-key-text">Traffic level: &nbsp; </span> <%= traffic_level %></div>
    //     <div><span class="modal-key-text">Tunnel use: &nbsp; </span> <%= tunnel_use %></div>
    //     <div><span class="modal-key-text">Additional notes: &nbsp; </span> <%= additional_notes %></div>
    </script>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand" href="#"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav top-navigation">
                    <li id="collaboratory-nav-btn" class="top-nav-btn"><a href="https://pvcitizenscience.org/"><i class="fa fa-2x fa-home"></i></a></li>
                    <li id="investigations-nav-btn" class="top-nav-btn"><a href="#">Investigations</a></li>
                    <li id="news-feed-nav-btn" class="top-nav-btn not-currently-enabled"><a href="#">News Feed</a></li>
                    <li id="my-activity-nav-btn" class="top-nav-btn not-currently-enabled"><a href="#">My Activity</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active username-display"><a></a></li>
                    <li id="logout-user" class="active logout-user"><a>Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Sidebar -->
    <!-- the list items are written this way to get rid of the ghost space added to inline-block elements by the browser http://stackoverflow.com/questions/28011846/browser-adds-ghost-spacing-margin-to-inline-block-list-items -->
    <div id="sidebar-wrapper" class="sidebar-wrapper">
        <ul class="sidebar-navigation">
            <li id="collect-nav-btn" class="sidebar-nav-btn disabled"><a href="#collect-screen"><i class="fa fa-3x fa-binoculars"></i></a></li
            ><li id="map-nav-btn" class="sidebar-nav-btn disabled"><a href="#map-screen"><i class="fa fa-3x fa-compass"></i><!--<i class="fa fa-3x fa-map-marker"></i>--></a></li
            ><li id="weather-nav-btn" class="sidebar-nav-btn disabled"><a href="#weather-screen"><i class="fa fa-3x fa-cloud"><i class="fa fa-2x fa-sun-o"></i></i></a></li
            ><li id="findings-nav-btn" class="sidebar-nav-btn disabled"><a href="#findings-screen"><i class="fa fa-3x fa-users"></i></a></li>
            <!-- <li id="exit-nav-btn" class="sidebar-nav-btn"><a href="https://pvcitizenscience.org/"><i class="fa fa-3x fa-sign-out"></i></a></li> -->
        </ul>
    </div><!-- /#sidebar-wrapper -->

    <div id="collect-screen" class="container-view container-fluid">
        <div class="row">

            <div id="title-page" class="page">
                <div class="first-page text-center center-block row">
                    <img src="img/firefly.jpg" class="img-responsive logo" alt="Firefly Watch logo">
                    <h1 class="firefly-watch">Firefly Watch</h1>
                    <button id="new-observation-btn" class="btn btn-default btn-lg btn-block start-obs-btn hidden">Get Started</button>
                    <button id="resume-observation-btn" class="btn btn-default btn-lg btn-block start-obs-btn hidden">Resume</button>
                    <!-- these get unhidden in the collectView render -->
                </div><!-- /.first-page -->
            </div><!-- /.title-page -->

            <div id="habitat-name-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <div>
                        <h2 class="page-title">Habitat Name</h2>
                        <p>If possible, please collect data once a week. It is not necessary to make your observations at the same time every evening, but it is important to work from the same location: your habitat site.</p>
                        <h3>Give your habitat a name:</h3>
                        <input id="PICK_ID" name="habitat_name" class="" type="text"> <!-- Meagan this needs a unique ID value -->
                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="number-of-colors-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="next-btn btn btn-lg btn-success pull-right btn-move" data-target-page="number-of-colors-page">Next</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#habitat-name-page -->

            <div id="number-of-colors-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <div>
                        <h2 class="page-title">Firefly Habitat Overview Observations</h2>
                        <p>How many different firefly colors did you observe?</p>
                        <img src="img/3fireflies.jpg" alt="green firefly, red firefly, yellow firefly">
                        <input id="zero-colors" type="radio" name="number_of_colors" value="0"><label for="zero-colors" class="btn btn-default">0</label>
                        <input id="one-color" type="radio" name="number_of_colors" value="1"><label for="one-color" class="btn btn-default">1</label>
                        <input id="two-colors" type="radio" name="number_of_colors" value="2"><label for="two-colors" class="btn btn-default">2</label>
                        <input id="three-colors" type="radio" name="number_of_colors" value="3"><label for="three-colors" class="btn btn-default">3</label>
                        <input id="four-plus-colors" type="radio" name="number_of_colors" value="4+"><label for="four-plus-colors" class="btn btn-default">4+</label>
                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="number-of-patterns-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="next-btn btn btn-lg btn-success pull-right btn-move" data-target-page="number-of-patterns-page">Next</button>
                        <button class="back-btn btn btn-lg btn-success pull-left btn-move" data-target-page="habitat-name-page">Back</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#number-of-colors-page -->

            <div id="number-of-patterns-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <div>
                        <h2 class="page-title">Firefly Habitat Overview Observations</h2>
                        <p>How many different firefly flashing patterns did you observe?</p>
                        <img src="img/rectangles.png" alt="patterns of grey rectangles">
                        <input id="zero-patterns" type="radio" name="number_of_patterns" value="0"><label for="zero-patterns" class="btn btn-default">0</label>
                        <input id="one-pattern" type="radio" name="number_of_patterns" value="1"><label for="one-pattern" class="btn btn-default">1</label>
                        <input id="two-patterns" type="radio" name="number_of_patterns" value="2"><label for="two-patterns" class="btn btn-default">2</label>
                        <input id="three-patterns" type="radio" name="number_of_patterns" value="3"><label for="three-patterns" class="btn btn-default">3</label>
                        <input id="four-plus-patterns" type="radio" name="number_of_patterns" value="4+"><label for="four-plus-patterns" class="btn btn-default">4+</label>
                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="location-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="next-btn btn btn-lg btn-success pull-right btn-move" data-target-page="location-page">Next</button>
                        <button class="back-btn btn btn-lg btn-success pull-left btn-move" data-target-page="number-of-colors-page">Back</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#number-of-patterns-page -->

            <div id="location-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <div>
                        <h2 class="page-title">Firefly Habitat Overview Observations</h2>
                        <p>Where were the fireflies that you observed?</p>
                        <div class="observation-choice text-center center-block row">
                            <div class="btn-container center-block btn-inline">
                                <input id="location-perched" type="radio" name="location" value="Mostly perched"><label for="location-perched" class="btn btn-default btn-valign">Mostly perched</label>
                            </div>
                            <div class="btn-container center-block btn-inline">
                                <input id="location-flying" type="radio" name="location" value="Mostly flying"><label for="location-flying" class="btn btn-default btn-valign">Mostly flying</label>
                            </div>
                            <div class="btn-container center-block btn-inline">
                                <input id="location-both" type="radio" name="location" value="Some flying, some perched"><label for="location-both" class="btn btn-default btn-valign">Some flying, some perched</label>
                            </div>
                            <div class="btn-container center-block btn-inline">
                                <input id="location-none" type="radio" name="location" value="None observed"><label for="location-none" class="btn btn-default btn-valign">None observed</label>
                            </div>
                        </div>
                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="ten-second-count-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="next-btn btn btn-lg btn-success pull-right btn-move" data-target-page="ten-second-count-page">Next</button>
                        <button class="back-btn btn btn-lg btn-success pull-left btn-move" data-target-page="number-of-patterns-page">Back</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#location-page -->

            <div id="ten-second-count-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <div>
                        <h2 class="page-title">Firefly Habitat Overview Observations</h2>
                        <p>During a 10-second period, how many fireflies did you observe?</p>
                        <input id="none-amount" type="radio" name="10_second_count" value="0"><label for="none-amount" class="btn btn-default">None</label>
                        <input id="one-amount" type="radio" name="10_second_count" value="1"><label for="one-amount" class="btn btn-default">1</label>
                        <input id="two-five-amount" type="radio" name="10_second_count" value="2-5"><label for="two-five-amount" class="btn btn-default">2-5</label>
                        <input id="six-twenty-amount" type="radio" name="10_second_count" value="6-20"><label for="six-twenty-amount" class="btn btn-default">6-20</label>
                        <input id="twentyone-plus-amount" type="radio" name="10_second_count" value="21+"><label for="twentyone-plus-amount" class="btn btn-default">21+</label>
                        <input id="other-amount" type="radio" name="10_second_count" value="other"><label for="other-amount" class="btn btn-default">4+</label>
                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="reporting-overview-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="next-btn btn btn-lg btn-success pull-right btn-move" data-target-page="reporting-overview-page">Next</button>
                        <button class="back-btn btn btn-lg btn-success pull-left btn-move" data-target-page="location-page">Back</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#ten-second-count-page -->

            <div id="reporting-overview-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <div>
                        <h2 class="page-title">Focused Firefly Reporting</h2>
                        <p>If possible, choose three (or more) fireflies with different colors or flashing patterns. Observing them closely will help you differentiate between species and give you a greater appreciation of what is happening in your firefly habitat.</p>
                        <h3>Firefly Observations:</h3>
                        <div class="new-reporting-wrapper">
                            <button id="new-report-btn" class="next-btn btn btn-default btn-word-wrap">Add a new firefly</button>
                        </div>
                        <div class="reports-container">
                            <!-- populated by view -->
                        </div>
                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="reporting-photo-uploader-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="finish-btn btn btn-lg btn-success pull-right btn-move">Finish</button>
                        <button class="back-btn btn btn-lg btn-success pull-left btn-move" data-target-page="ten-second-count-page">Back</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#reporting-overview-page -->

            <div id="reporting-photo-uploader-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <h2 class="page-title">New Firefly Observation</h2>
                    <p>Take a photo of your firefly, then add the photo to this observation</p>
                    <div class="photo-wrapper">
                        <i id="photo-spinner" class="hidden fa fa-spinner fa-5x"></i>
                        <label for="photo-file" class="camera-icon-label"><img src="img/icons/camera_icon.png" class="camera-icon img-responsive" alt="camera icon"></label>
                        <input id="photo-file" type="file" name="file" accept=".jpg,.gif,.jpeg,.png" />
                        <button id="upload-btn" class="btn btn-default waiting-for-file btn-word-wrap">Add photo to this observation</button>
                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="reporting-pattern-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="next-btn btn btn-lg btn-success pull-right btn-move" data-target-page="reporting-pattern-page">Next</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#reporting-photo-uploader-page -->

            <div id="reporting-pattern-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <h2 class="page-title">New Firefly Observation</h2>
                    <p>Tap your finger on the circle below to replicate the firefly's flash pattern</p>
                    <div class="flash-pattern-wrapper">

                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="reporting-movement-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="next-btn btn btn-lg btn-success pull-right btn-move" data-target-page="reporting-movement-page">Next</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#reporting-pattern-page -->

            <div id="reporting-movement-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <div>
                        <h2 class="page-title">New Firefly Observation</h2>
                        <p>Where was the firefly when you saw it flash?</p>
                        <div class="observation-choice text-center center-block row">
                            <div class="btn-container center-block btn-inline">
                                <input id="movement-perched" class="reporting" type="radio" name="movement" value="Sitting still"><label for="movement-perched" class="btn btn-default btn-valign">Sitting still</label>
                            </div>
                            <div class="btn-container center-block btn-inline">
                                <input id="movement-flying" class="reporting" type="radio" name="movement" value="Flying"><label for="movement-flying" class="btn btn-default btn-valign">Flying</label>
                            </div>
                        </div>
                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="reporting-j-shape-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="next-btn btn btn-lg btn-success pull-right btn-move" data-target-page="reporting-j-shape-page">Next</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#reporting-movement-page -->

            <div id="reporting-j-shape-page" class="page hidden col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="page-inner-wrapper">
                    <div>
                        <h2 class="page-title">New Firefly Observation</h2>
                        <p>Did it fly in a J-shape?</p>
                        <div class="observation-choice text-center center-block row">
                            <div class="btn-container center-block btn-inline">
                                <input id="j-shape-yes" class="reporting" type="radio" name="j_shape" value="Yes"><label for="j-shape-yes" class="btn btn-default btn-valign">Yes</label>
                            </div>
                            <div class="btn-container center-block btn-inline">
                                <input id="j-shape-no" class="reporting" type="radio" name="j_shape" value="No"><label for="j-shape-no" class="btn btn-default btn-valign">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="caret-container">
                        <i class="fa fa-caret-right fa-size next-btn pull-right" data-target-page="reporting-overview-page"></i>
                    </div>
                    <div class="btn-move-container text-center center-block row">
                        <button class="next-btn btn btn-lg btn-success pull-right btn-move" data-target-page="reporting-overview-page">Next</button>
                    </div>
                </div><!-- /.page-inner-wrapper -->
            </div><!-- /#reporting-j-shape-page -->




        </div>
    </div><!-- /.container-fluid -->

    <!-- Weather Screen -->
    <div id="weather-screen" class="container-view container-fluid">
        <div class="row">
            <div class="weather-icon-container col-xs-5 col-xs-offset-1 col-md-3 col-md-offset-1">
                <div class="weather-icon-inner-container">
                    <!-- <img src="" alt="weather icon" class="weather-image img-responsive"> -->
                </div>
            </div>
            <div class="temperature-icon-container col-xs-5 col-xs-offset-0 col-md-4 col-md-offset-0">
                <div class="temperature">
                    <p class="temp-f-container"><span class="temp-f"></span>&#176;F</p>
                    <p class="weather-string"></p>
                </div>
            </div>
            <div class="weather-container col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
                <div class="weather-inner-container">
                    <div class="weather">
                        <div class="row">
                            <img src="img/icons/icon_wind.png" class="img-responsive icon" alt=""><p><span class="wind-mph">##</span> mph <span class="wind-dir">##</span></p>
                        </div>
                        <div class="row">
                            <img src="img/icons/icon_rain.png" class="img-responsive icon" alt=""><p><span class="precipitation-percent">##</span> pop</p>
                        </div>
                        <div class="row">
                            <img src="img/icons/icon_humidity.png" class="img-responsive icon" alt=""><p><span class="humidity">##</span> humidity</p>
                        </div>
                        <div class="row">
                            <img src="img/icons/icon_uv.png" class="img-responsive icon" alt=""><p class="uv"></p>
                        </div>
                        <div class="row">
                            <img src="img/icons/icon_dew.png" class="img-responsive icon" alt=""><p><span class="dewpoint_f">##</span>&#176;F dewpoint</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->

    <!-- Map Screen -->
    <div id="map-screen" class="container-view container-fluid">
        <div class="row">
            <div>
                <div id="map-canvas"></div>
                <div class="row">
                    <div class="map-sidebar col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-8">
                        <div class="row">
                            <h3 class="streetview">Street View:</h3>
                            <div id="pano"></div>
                        </div>
                        <div class="row">
                            <h3>GPS Position:</h3>
                            <p><span class="latitude">##</span>&nbsp;&nbsp;&nbsp;<span class="longitude">##</span></p>
                        </div>
                        <div class="row">
                            <h3>Elevation:</h3>
                            <p><span class="elevation">##</span> ft</p>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->


    <!-- Findings Screen -->
    <div id="findings-screen" class="container-view container-fluid">
        <div id="findings-list" class="row">
            <!-- filled in the view -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->


    <!-- Modals -->
    <!-- Login Modal -->
    <div id="login-picker" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-picker" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Please log in</h3>
                </div>
                <div class="modal-body login-buttons">
                    <!-- filled by javascript with buttons for user login -->
                </div>
            </div>
        </div>
    </div>

    <!-- Findings Modal-->
    <div id="findings-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="findings-modal" aria-hidden="true">
        <div class="table">
            <div class="table-cell">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <div class="findings-modal-body">
                            <!-- content inserted here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {
          jQuery.fn.exists = function(){return this.length>0;}
          Skeletor.Mobile.init();
          jQuery('.note-taking-toggle').hide();
        });
    </script>
</body>
</html>
