/********** M E D I A  Q U E R I E S **********/

@media all and (orientation: portrait) {

    .btn-move-container {
        margin-bottom: 72px;
    }
    .sidebar-wrapper {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 400px;
        width: 100%;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
    }
    .sidebar-wrapper li {
        max-width: 100px;
        width: 25%;
        display: inline-block;
    }
    .sidebar-wrapper .fa-sun-o {
        position: absolute;
        right: 25%;
    }

}

@media all and (orientation: landscape) {

	.sidebar-wrapper {
	    margin-top: 57px;
	    max-height: 328px;
	}
}

/* Extra small devices PORTRAIT (PHONES, less than 450px wide) */
@media all and (max-width: 450px) and (orientation: portrait) {

	/*font-awesome icons*/
	.sidebar-wrapper .fa {
	    margin: 15px 20px;
	}

	.btn-move {
		min-width: 130px;
	}

	h1 {
	    font-size: 44px;
		margin: 10px auto;
	}

    .logo {
        display: none;
    }
    .first-page {
        background: url("../img/salamanderlogo_light.png") no-repeat 50% 50%;
        margin-top: 10vh;
    }

    input[type=text] {
       width: 25%;
    }

    .wizard-container {
    	margin-bottom: 10%;
    }
    .wizard {
        padding: 0;
    }
    .wizard-photo {
        left: 3%;
    }
    .wizard-orientation {
        left: 8%;
    }
    .wizard-life-status {
        left: 32%;
    }
    .wizard-traffic {
        left: 43%;
    }
    .wizard-tunnel {
        left: 64%;
    }
    .wizard-notes {
        left: 78%;
    }

    .camera-icon-label {
    	display: block;
    }

    .camera-icon {
    	width: 75%;
    	max-width: 150px;
    	margin-left: auto;
    	margin-right: auto;
    }

    #compass-container {
    	width: 90%;
        top: 10px;
    }
    #salamander-compass-img {
        top: 75px;
        left: -16%;
        height: 175px;
    }
    #record-orientation-btn {
        margin-top: 300px;
    }
    .field-notes textarea {
        margin-bottom: 5%;
    }

}

/* Extra small devices LANDSCAPE (PHONES, less than 550px HIGH) */
@media all and (max-height: 550px) and (orientation: landscape) {

	h1 {
		font-size: 48px;
	}
	.btn-move-container {
		display: none;
	}
	.caret-container {
        display: block;
		position: fixed;
		top: 50%;
		width: 83.5%;
	}
    .btn-block + .btn-block,
	.btn-container + .btn-container {
		margin-top: 0;
	}
	.btn-container:nth-of-type(3),
	.btn-container:nth-of-type(4) {
		margin-top: 2%;
	}
	.btn-inline {
		display: inline-block;
		width: 42%;
	}
	.btn-inline:nth-of-type(2n) {
	    margin-left: 1%;
	}
	.sidebar-wrapper {
	    margin-top: 57px;
        /*i have no idea why this appears better; think it should be height 100%;*/
        height: 87%;
        max-height: 87%;
	}
	.sidebar-wrapper ul {
		height: 100%;
	}
	.sidebar-wrapper li {
		height: 25%;
	}
	/*font-awesome icons*/
	.sidebar-wrapper .fa {
        margin: 30% 15px;
	}
	.logo {
		display: none;
	}
    #collect-screen,
    #weather-screen,
    #map-screen,
    #findings-screen {
        margin-left: 70px;
    }
	.first-page {
		background: url("../img/salamanderlogo_light.png") no-repeat 50% 50%;
		margin-top: 5%;
	}
	.first-page button {
		display: inline-block;
		width: 225px;
		z-index: 100;
	}
	.first-page button + button {
		margin-left: 10px;
	}
	.photo-wrapper,
	.orientation-wrapper {
		width: 82%;
		min-width: 82%;
		margin: 0 auto;
	}
	.camera-icon-label,
	#compass-container {
		float: left;
		width: 42%;
	}
    .waiting-for-file,
    .orientation-capture-wrapper {
        max-width: 200px;
        float: right;
        margin-top: 10%;
    }
	#compass-container {
		width: 45%;
	}
    #salamander-compass-img {
        top: 20px;
        left: -5%;
        width: 300px;
    }
	/*does this need to be here? likely not*/
	.btn-move-container {
		clear: both;
	}

	.field-notes {
		margin: 0 auto;
		width: 85%;
		max-width: ;
	}
	.field-notes h3 {
		margin-top: 0;
	}
	.field-notes p {
		padding-right: 15px;
	}
	.fa-check {
		margin-top: 2%;
	}

	.wizard-container {
		/*padding-bottom: 8%;*/
		padding-bottom: 12vh;
	}
	.wizard-photo {
	    left: 16%;
	}
	.wizard-orientation {
	    left: 24%;
	}
	.wizard-life-status {
	    left: 44%;
	}
	.wizard-traffic {
	    left: 55%;
	}
	.wizard-tunnel {
	    left: 72%;
	}
	.wizard-notes {
	    left: 75%;
	    text-align: center;
	}

}

/* Extra small devices LANDSCAPE (PHONES) */
@media all and (min-height: 351px) and (orientation: landscape) {

    .btn-container {
        padding: 6px;
    }
    .btn-container:nth-of-type(3),
    .btn-container:nth-of-type(4) {
        margin-top: 4%;
    }
    .btn-inline:nth-of-type(2n) {
        margin-left: 4%;
    }
    .caret-container {
        position: absolute;
        width: 125%;
        left: -12.5%;
        top: 40%;
    }
    .fa-size {
        font-size: 10em !important;
    }
    .fa-check {
        font-size: 7em !important;
    }
    /*font-awesome icons*/
    .sidebar-wrapper .fa {
        margin: 30% 20px;
    }
    .logo {
        display: block;
    }
    #collect-screen,
    #weather-screen,
    #map-screen,
    #findings-screen {
        margin-left: 85px;
    }
    .first-page {
        background: none;
        margin-top: 2%;
    }
    #salamander-compass-img {
        top: 40px;
    }

    .wizard-container {
        padding-bottom: 20vh;
    }
    .wizard-photo {
        left: 3%;
    }
    .wizard-orientation {
        left: 14%;
    }
    .wizard-life-status {
        left: 36%;
    }
    .wizard-traffic {
        left: 49%;
    }
    .wizard-tunnel {
        left: 69%;
    }
    .wizard-notes {
        left: 80%;
        text-align: center;
    }

    .weather {
        padding: 30px 15%;
        font-size: 1.7em;
    }

}

/* Small devices (PHONES/TABLETS, 500px and up) */
@media all and (min-width: 500px) and (orientation: portrait) {

    .sidebar-wrapper {
        height: 82px;
    }
    .sidebar-wrapper .fa {
        margin: 20px;
    }

    .wizard-container {
        padding-bottom: 15%;
    }

    .page {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        min-height: 500px;
        height: 75vh;
    }
    .page-inner-wrapper {
        height: 100%;
    }
    .btn-move-container {
        margin-bottom: 72px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .btn-move.pull-right {
        margin-right: 30px;
    }
    #title-page {
        height: 500px;
    }
    #orientation.page {
        height: auto;
    }
    #orientation .wizard-container {
        padding-bottom: 5%;
    }
    #orientation .btn-move-container {
        position: static;
    }
    #orientation .btn-move {
        margin-right: 0;
    }

    #compass-container {
        top: -410px;
    }
    #salamander-compass-img {
        top: 115px;
        left: 0;
    }
    .orientation-capture-wrapper {
        margin-top: 400px;
    }

}

/* Small devices PORTRAIT (TABLETS, 768px and up) */
@media all and (min-width: 768px) and (orientation: portrait) {

    .sidebar-wrapper {
        height: 82px;
    }
    /*font-awesome icons*/
    .sidebar-wrapper .fa {
        margin: 20px;
    }

    #weather-screen .col-sm-4:nth-child(2) {
        margin-left: 0;
    }

    #weather-screen .weather-image {
        margin-top: 15%;
    }

    #weather-screen .temperature {
        margin-top: 20%;
        padding: 0;
    }

    .temperature > p {
        font-size: 7em;
        padding-left: 5%;
    }

    p.weather-string {
        font-size: 2.5em;
    }

    .weather {
        margin-top: 15%;
        margin-left: 25%;
        width: 50%;
        font-size: 2em;
        padding: 30px 10%;
    }

}

/* Small devices LANDSCAPE (TABLETS, 501px tall and up) */
/*@media handheld and (min-height: 501px) and (orientation: landscape) {

    .wizard-container {
        padding: 7%;
    }
    .btn-move-container {
        margin-bottom: 7%;
    }
    .page-inner-wrapper {
        position: static;
    }
    .camera-icon-label {
        width: 40%;
        margin-left: 8%;
    }
    #compass-container {
        margin-left: 0;
    }
    #salamander-compass-img {
        left: -15%;
        top: 50px;
    }

}*/

/* Small devices LANDSCAPE (TABLETS, 551px tall and up) */
@media all and (min-height: 551px) and (orientation: landscape) {

    .btn-move {
    	margin-bottom: 0;
    }
    .btn-container:nth-of-type(3),
    .btn-container:nth-of-type(4),
    .btn-container + .btn-container {
        margin-top: 2%;
    }
    .btn-inline:nth-of-type(2n) {
        margin-left: 0;
    }
    .sidebar-wrapper {
        top: 50%;
        margin-top: -164px;
    }
    /*font-awesome icons*/
    .sidebar-wrapper .fa {
        margin: 20px;
    }
    .wizard-container {
    	padding-top: 0;
    	padding-bottom: 7%;
    }

	/*https://css-tricks.com/centering-css-complete-guide/*/
	.page {
		position: relative;
	}
    .first-page {
    	position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
    }
    .page-inner-wrapper {
    	position: absolute;
		top: 50%;
		transform: translateY(-50%);
		min-height: 500px;
    }
	.photo-wrapper {
		max-width: 100%;
	}
	.camera-icon-label {
		float: left;
		margin-left: 10%;
		width: 42%;
	}
	#compass-container {
		float: left;
		margin-left: 10%;
		width: 45%;
	}
	.waiting-for-file,
	.orientation-capture-wrapper {
		max-width: 200px;
		float: right;
		margin-top: 15%;
		margin-right: 10%;
	}
	.btn-move-container {
		clear: both;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.observation-choice {
		margin-top: 5%;
	}



    #weather-screen .col-sm-4 {
        margin-left: 0;
    }

    #weather-screen .weather-image {
        margin-top: 18%;
    }

    #weather-screen .temperature {
        margin-top: 19%;
        padding: 0;
    }

    .temperature > p {
        font-size: 7em;
        /*padding-left: 5%;*/
    }

    p.weather-string {
        font-size: 4em;
        /*padding-left: 15%;*/
    }

    .weather {
        margin-top: 14%;
        margin-left: 3%;
        font-size: 1.3em;
    }
}

/* Medium devices (DESKTOPS, 992px and up) */
@media all and (min-width: 992px) {

    #collect-screen,
    #weather-screen,
    #map-screen,
    #findings-screen {
        margin-left: 0;
    }

    /*salamander image*/
    #salamander-compass-img {
        width: 130%;
    }

    #weather-screen .weather-image {
        margin-left: 5%;
        margin-top: 13%;
        max-height: 350px;
    }

    #weather-screen .temperature {
        margin-top: 17%;
        margin-left: -2%;
        padding: 0 15px;
    }

    .weather {
        margin-top: 12%;
        font-size: 1.1em;
    }
}

/* Large devices (LARGE DESKTOPS, 1200px and up) */
@media all and (min-width: 1200px) {

    #salamander-compass-image {
        width: 120%;
    }
    #compass {
        width: 75%;
    }

}