/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/********** MISC **********/

.orientation-warning {
    display: none;
}

input {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    color: #333;
    border-radius: 7px;
    border: solid #ddd 1px;
    height: 45px;
    margin-left: 20px;
}

input[type=text] {
   font-size: 20px;
   font-weight: 300;
   padding-left: 20px;
   width: 20%;
}

/*trying to get additional field notes text to align to top, currently not working*/
input[type=textarea] {
    vertical-align: top;
    line-height: 100%;
}

/*hiding radio buttons*/
input[type=radio] {
    display: none;
}

input[type=radio]:checked + label {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn {
    margin-bottom: 20px;
    height: 45px;
    min-width: 160px;
    max-width: 250px;
}

.btn-default {
    height: 55px;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}

/*removing linear gradients from button defaults*/
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-image: none;
    text-shadow: none;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    font-size: 16px;
    letter-spacing: 0.05em;
    border: none;
}

.btn-move {
    margin-top: 20px;
}

.btn-container + .btn-container {
    margin: 20px auto 0;
}

.scrollable {
    overflow-y: auto;
}

/*so the scroll bar appears at all times*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.hidden {
    display: none;
}

/* what's the correct way to do this? */
.disabled {
    pointer-events: none;
    cursor: default;
    /*background-color: #BDBDC1;*/                  /* we probably want something a little more stark than this */
    opacity: 0.7;
}

.highlighted {
    color: #5cb85c;
}

.top-btn-container {
    position: absolute;
    top: 3px;
    right: 3px;
}

ul {
    padding: 0;
}

/********** TYPOGRAPHY **********/

body {
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    font-size: 54px;
    color: #444;
    font-weight: 500;
    margin-bottom: 35px;
}

h2 {
    color: #333;
    margin-bottom: 25px;
}

h3,
label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

h4 {
    font-size: 14px;
    font-weight: 500;
}

label {
    vertical-align: middle;
}

.label-lg {
    font-size: 20px;
    font-weight: 300;
    margin-top: -25px;
}

/********** NAVBAR **********/

/* This hides any element with class alert directly after an input field with a pattern (regex) */
input[pattern] + .alert {
    display: none;
}

/* If pattern (regex) is violated alert is shown */
input[pattern]:invalid + .alert {
    display: inline-block;
}

/* If pattern (regex) is violated submit button is hidden */
input[pattern]:invalid ~ button {
    display: none;
}

input:disabled {
    display: none;
}

#login-button:disabled {
    display: none;
}

.login-button {
    margin: 1%;
    min-width: 6em;
}

.username-display .hide {
    display: none;
}

.input-alert {
    margin-top: 2%;
}

/********** SIDE SECONDARY NAV **********/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    /*width: 0;*/
    height: 100%;
    margin-left: -250px;
    margin-top: 100px;
    overflow-y: auto;
    background: #eee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper img {
    width: 50px;
    margin: 10px 25px;
}

/********** PROGRESS BAR **********/

/*have to use wizard b/c progress & progress-bar are bootstrap classes*/
.wizard {
    max-width: 1000px;
    margin: 4% auto;
}

/********** IMAGES **********/

img.space-bottom {
    margin-bottom: 15px;
}

.salamander-logo {
    margin: 0 auto;
}

/********** BODY - ALL **********/

.row-fluid {
    padding-top: 50px;
}

.row-fluid .hidden {
    /* TODO: this is a crude way of hiding right now and should be improved */
    display: none;
}


/********** COLLECT PAGES **********/

/***** first page *****/

.first-page {
    width: 100%;
    max-width: 500px;
    margin-top: 5%;
}

.first-page > button {
    margin: 0 auto 20px;
}


/***** photo page *****/

.waiting-for-file {
    opacity: 0.6;
}

.photo-wrapper {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.camera-icon {
    margin-bottom: 20px;
    position: relative;
    z-index: 999;
    /*padding: 15%;
    border: 8px dashed #a4a6a9;
    border-radius: 25px;*/
}

#photo-file {
    margin: 0;
    display: none;
}

/*#photo-container {
    position: absolute;
    top: 240px;
}*/

.photo-preview {
    height: 250px;
    width: auto;
    border-radius: 20px;
    z-index: 1;
}

/***** orientation page *****/

#compass-container {
    width: 400px;
}

#compass {
    width: 100%;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}

.pointer {
  height: 0;
  width: 0;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-bottom: 8em solid black;
  margin: -10px 0 0 -40px;
  top: 40%;
  left: 50%;
  position: absolute;
}

.n {
  top: 20%;
  left:50%;
  position:absolute;
  font:5em Helvetica;
  margin: 0 0 0 -40px;
}


/********** WEATHER SCREEN **********/

#weather-screen {
    background: url(../img/PVautumn.png) no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    width: 100%;
}

#weather-screen .weather-image {
    margin-top: 25px;
    color: #333;
}

.temperature {
    margin-top: 25px;
    color: #333;
}

.temperature > p {
    font-size: 5em;
    font-weight: 400;
}

p.temp-f-container {
    text-align: center;
}

p.weather-string {
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
}

.weather {
    background: rgba(51, 51, 51, 0.5);
    color: #fff;
    font-weight: 300;
    font-size: 1.3em;
    padding: 15px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.weather img {
    width: 15%;
    margin-right: 20px;
    display: inline-block;
}

.weather p {
    display: inline-block;
}

.weather .row {
    margin-bottom: 50px;
}

.weather .row:last-child {
    margin-bottom: 0;
}

/********** MAP SCREEN **********/
/*html & body properties suggested in https://developers.google.com/maps/documentation/javascript/tutorial;*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-screen {
    width: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 100vh;
    width: 100%;
    margin-bottom: -50px;
}

#pano {
    height: 300px;
    width: 100%;
    background: #ccc;
    z-index: 1;
}

.map-sidebar {
    position: absolute;
    top: 13%;
    right: 50px;
    z-index: 1;
}

.map-sidebar .row {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 15px 25px;
}

.map-sidebar .row:first-child {
    padding: 15px 0 0 0;
}

.map-sidebar h3 {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.5em;
}

.map-sidebar p {
    font-weight: 300;
    font-size: 1.3em;
}

.streetview {
    padding-left: 25px;
}


/********** FINDINGS SCREEN **********/
.findings-list-item {
    width: 220px;
    height: 220px;
    padding: 20px;
}

.findings-list-photo, .findings-list-text {
    width: 200px;
    height: 200px;
}
